[project]
	description = ??????????????
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ray (tvvocold)
[access "refs/for/refs/*"]
	read = group user/Ray (tvvocold)
	push = group user/Ray (tvvocold)
	label-Code-Review = -2..+2 group user/Ray (tvvocold)
	label-Verified = -1..+1 group user/Ray (tvvocold)
	rebase = group user/Ray (tvvocold)
	removeReviewer = group user/Ray (tvvocold)
	submit = group user/Ray (tvvocold)
[access "refs/heads/*"]
	read = group user/Ray (tvvocold)
	create = group user/Ray (tvvocold)
	push = +force group user/Ray (tvvocold)
	pushMerge = group user/Ray (tvvocold)
[access "refs/tags/*"]
	push = +force group user/Ray (tvvocold)
	pushTag = group user/Ray (tvvocold)
	pushSignedTag = group user/Ray (tvvocold)
